aiofiles
aiohttp
aiohttp[speedups]
aioshutil
aioshutil
anytree==2.8.0
apscheduler
aria2p
asyncio
beautifulsoup4
bs4
brotli
cinemagoer
cloudscraper
cryptography
dnspython
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
hachoir
h2
httpx
langcodes[data]
lxml
markdown
mediainfo
motor
mutagen
natsort
opencv-python
pillow
psutil
pybase64
pycountry
pycryptodome
pyjwt
pyplayready
pymongo
pyrogram
pyrofork
pyrofork==2.2.11
python-dotenv
python-magic
pywidevine
qbittorrent
qbittorrent-api
requests
rich
selenium
speedtest-cli
telegraph
tenacity
tgcrypto
uv
uvloop
xattr
yt-dlp[default,curl-cffi]
yt_dlp
pytz
