oauth2client
google-api-python-client
progress
progressbar2
httplib2shim
google_auth_oauthlib
pyrogram==2.0.77
tgcrypto
dotenv
h2
httpx
rich
jwt
pyplayready
pywidevine
opencv-python
tgcrypto
aiofiles
pyrofork
hachoir
yt_dlp
pytz
pyjwt
aiohttp
uvloop
pymongo
flask
brotli
cryptography
selenium
cloudscraper
requests
telegraph
asyncio
pyrogram
pycryptodome
bs4
mediainfo
qbittorrent
